extends layout

block content
  .row
    .col-12
      h1.text-center #{username}

  .container
    .row.justify-content-between
      each project in projects
        .col-6.mb-4
          .card(style='width:80%;')
            .card-body(style='text-align:center;')
              h5.card-title #{project.name}
              a.btn.btn-primary.mb-2(href=`/${userid}/projects/${project._id}`) Go to project
      .col-6.mb-4
          .card(style='width:80%;')
            .card-body(style='text-align:center;')
              h5.card-title Add New Project
              a.btn.btn-primary.mb-2(style = 'width:30%',href=`/${userid}/projects/addproject`) +

  script.
    document.addEventListener('DOMContentLoaded', function() {
      const cards = document.querySelectorAll('.clickable-card');
      cards.forEach(card => {
        card.addEventListener('click', function() {
          window.location.href = this.dataset.url;
        });
      });
    });

  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js', integrity='sha384-pIRPbS/+N5hyXgqUWoLk3JScUbo7FwMhUO7N+ZZ0Xn5EyEX7tD7PgpfnXr2i+3H8', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js', integrity='sha384-9ndCyUa1iF+c5Tdf7FHpb8iL4y+z/2gWiDLZ6zB6GU5xqv5Gk5r8x4G3EPPHp5g1', crossorigin='anonymous')
  // Add Font Awesome script for the three-dot icon
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js')
