extends layout

block content
  h2 #{project.name}
  h5 Press the arrow keys to move through the layers
  .owl-carousel(style='width: 800px; height: 400px; margin: 0; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);')
    each item, index in max_order_list
      .item
        .row
          .col-md-12
            .card
              .card-body
                .dropdown(style='float:left')
                  button.btn2.btn-secondary.dropdown-toggle(type='button', id=`dropdownMenuButton${index}`, data-bs-toggle='dropdown', aria-expanded='false')
                    | layer #{item}
                  ul.dropdown-menu(aria-labelledby=`dropdownMenuButton${index}`, style='max-height: 300%; overflow-y: scroll;')
                    each layer in layers
                      if layer.order == item
                        li
                          a.dropdown-item(href='#', data-order=item, data-layer=JSON.stringify(layer), onclick='handleClick(this)') #{layer.name}
                h5.card-title(id=`card-title-${index + 1}`, style='margin:auto') sorry
                p.card-text(id=`card-text-${index + 1}`) Note: The Edit Layer button will not work until you select a layer
                p.card-text(style='float:left')
                  | hey 
                  br
                  | bro
                  br
                  | another line
                p.card-text(style='float:right') nice
                a.btn3.btn-primary.mb-2(style='width:30%', id=`navigate-button-${index+1}`, href='#') Edit Layer

  .card.right-align
    .card-body 
      h5 Data Loading Settings

  .card.right-align
    .card-body 
      h5 Data Training Settings
      p More text for the new card

append scripts
  script.
    var layerlist = !{JSON.stringify(layerlist)};
    var ids = !{JSON.stringify(ids)}
    var userid = ids[0] 
    var projectid = ids[1]
    var basescript = `/${userid}/projects/${projectid}`

    const find_layer_via_name = (layername) => {
      for (const layer of layers) {
        if (layer.name === layername) {
          return layer;
        }
      }
    };

    const update = (order, layer) => {
      layerlist[order - 1] = layer;
      // Update the card title dynamically
      const cardTitle = document.querySelector(`#card-title-${order}`);
      const cardText = document.querySelector(`#card-text-${order}`);
      const navigateButton = document.querySelector(`#navigate-button-${order}`);
      var link = document.getElementById(`navigate-button-${order}`)
      link.href = basescript +`/${layer._id}`
      if (cardTitle) { 
        cardTitle.textContent = layer.name;
      }
      if (cardText) {
        cardText.textContent = layer.sub_layer;
      }
      // Update the active class in the dropdown
      const dropdownMenu = document.querySelector(`#dropdownMenuButton${order - 1}`).nextElementSibling;
      dropdownMenu.querySelectorAll('li').forEach(li => {
        li.classList.remove('active');
      });
      dropdownMenu.querySelector(`a[data-order="${order}"][data-layer='${JSON.stringify(layer)}']`).parentElement.classList.add('active');
    };

    const handleClick = (element) => {
      const order = element.getAttribute('data-order');
      const layer = JSON.parse(element.getAttribute('data-layer'));
      update(order, layer);
    };
